/* Footer.module.css */
.footer {
  text-align: center;
  padding: 10px 0;
  background: #22a37e; /* Градиент зеленый */
  border-top: 1px solid #22a37e;
  width: 100%;
  font-size: 14px;
  color: white;
  margin-top: auto;
}

.dark-mode .footer {
  background: linear-gradient(135deg, #1a2a1f, #2a3b2f); /* Градиент темный */
  border-top: 1px solid #1a2a1f;
}