.container {
  max-width: 800px;  
  margin: auto;
  padding: 20px;
  text-align: center;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black
}

.dark-mode .container {
  background: white;
  color: #00684A;
}

.userInfo {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #889397;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: white;
}

.dark-mode .userInfo {
  background: #2a3b2f;
  color: #e0f2e9;
}


.title {
  margin-top: 80px;
  text-align: center;
  color: #00684A;
}

.dark-mode .title {
  color: #00684A;
}

.error {
  color: #ff4d4d;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chartContainer {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}



.error {
  color: #ff4d4d;
}

@media (max-width: 768px) {
  .userInfo {
    position: static;
    margin: 10px auto;
    width: 90%;
    max-width: 300px;
    text-align: center;
  }
}