/* WeightChart.module.css */
.container {
  max-width: 800px;  
  margin: auto;
  padding: 20px;
  text-align: center;
  background: transparent; /* Белый фон для карточки */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black
}

.dark-mode .container {
  background: white; /* Оставляем белый фон в темной теме */
  color: #00684A; /* Темно-зеленый текст для контраста */
}

.userInfo {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #889397; /* Светлый мятный */
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: white; /* Темно-зеленый */
}

.dark-mode .userInfo {
  background: #2a3b2f; /* Темный мох */
  color: #e0f2e9; /* Светло-зеленый */
}


.title {
  margin-top: 80px;
  text-align: center;
  color: #00684A; /* Темно-зеленый */
}

.dark-mode .title {
  color: #00684A; /* Оставляем темно-зеленый текст */
}

.error {
  color: #ff4d4d; /* Красный */
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chartContainer {
  width: 100%;
  height: 400px;
  background-color: white; /* Белый фон для графика */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}



.error {
  color: #ff4d4d; /* Красный */
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .userInfo {
    position: static; /* Убираем фиксированное позиционирование */
    margin: 10px auto; /* Центрируем карточку */
    width: 90%; /* Ширина карточки */
    max-width: 300px; /* Максимальная ширина */
    text-align: center; /* Выравниваем текст по центру */
  }
}